---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import ResourceHero from "../components/ResourcesHero";
import StartAChapter from "../components/StartAChapter"


---

<Layout title="PMReady">
    <!-- <main class="container max-w-[1800px] mx-auto"> -->
    <Header />
    <StartAChapter />
    <!-- </main> -->
</Layout>

