---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import StartAChapter from "../components/community/StartAChapter"
import Discord from "../components/community/Discord";
import Footer from "../components/Footer";
import Hero from "../components/community/Hero";

---


<Layout title="PMReady">

    <!-- <main class="container max-w-[1800px] mx-auto"> -->
    <Header client:load />
    <Hero />
    <Discord />
    <StartAChapter />
    <Footer />
    <!-- </main> -->
</Layout>

