---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import ResourceHero from "../components/ResourcesHero";
import StartAChapter from "../components/community/StartAChapter"
import Discord from "../components/community/Discord";
import NewFooter from "../components/NewFooter";
import Hero from "../components/community/Hero";

---

<Layout>
    <!-- <main class="container max-w-[1800px] mx-auto"> -->
    <Header client:load />
    <Hero />
    <Discord />
    <StartAChapter />
    <NewFooter />
    <!-- </main> -->
</Layout>

