---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header";
import StartAChapter from "../components/community/StartAChapter"
import Discord from "../components/community/Discord";
import NewFooter from "../components/layout/NewFooter";
import Hero from "../components/community/Hero";

---


<Layout title="PMReady">

    <!-- <main class="container max-w-[1800px] mx-auto"> -->
    <Hero />
    <Discord />
    <StartAChapter />
    <!-- </main> -->
</Layout>

