---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Hero from "../components/Hero";
// import Stats from "../components/Stats";
// import Footer from "../components/Footer";
// import Body from "../components/Body";
import Resources from "../components/Resources";
import WhoWeAre from "../components/WhoWeAre";
import StartYourChapter from "../components/StartYourChapter";
import NewFooter from "../components/NewFooter";
import Testimonial from "../components/Testimonal";
---

<Layout title="PMReady">
    <Header />
    <Hero />
    <main class="mx-auto">
        <!-- <Stats />
        <Body />  -->
        <Resources />
        <WhoWeAre />
        <Testimonial client:load />
        <StartYourChapter />
    </main>
    <!-- <Footer /> -->
    <NewFooter />
</Layout>
