---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
---

<Layout title="PMReady">
	<Header />
	<main class="container">
		<Hero />
	</main>
</Layout>