---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Stats from '../components/Stats';
---

<Layout title="PMReady">
	<Header />
	<main class="container mx-auto">
		<Hero />
		<Stats />
	</main>
</Layout>