---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero";
import Resources from "../components/home/Resources";
import WhoWeAre from "../components/home/WhoWeAre";
import StartYourChapter from "../components/home/StartYourChapter";
import Testimonial from "../components/home/Testimonal";
---

<Layout title="PMReady">
  <Hero />
  <main class="mx-auto">
    <Resources />
    <WhoWeAre />
    <Testimonial client:load />
    <StartYourChapter />
  </main>
</Layout>
