---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Stats from '../components/Stats';
import Footer from "../components/Footer"
import Body from "../components/Body"
---

<Layout title="PMReady">
	<Header />
	<main class="container mx-auto">
		<Hero />
		<Stats />
		<Body />
	</main>
	<Footer />
</Layout>