---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import ResourceHero from "../components/resources/ResourcesHero";

---

<Layout title="PMReady">
    <!-- <main class="container max-w-[1800px] mx-auto"> -->
    <Header />
    <ResourceHero></ResourceHero>
    <!-- </main> -->
</Layout>