.heading {
    margin-top: 50px ; 
    text-align: center;
    font-size: large ; 
    font-weight: bolder;
}

.orangeText {
    color: #ff996e ; 
    display: inline ; 
    font-weight: bold;
}

.greenText {
    color: #00d2bf; 
    display: inline ; 
    font-weight: bold;
}

.volunteerContainer {
    display: grid;
    justify-content: center;
    grid-gap: 10px; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1040px ; 
    padding-left: 68px ; 
    padding-right: 68px ;
    margin-right: auto ; 
    margin-left: auto  ; 
    margin-top: 20px ; 

}
.individualsContainer {
    display: inline-block ; 
    width: 211px ; 
    height: 228px ; 
    text-align: center;
}
.image {
    display: block ; 
    margin: 0 auto ; 
    width: 160px ; 
    height: 160px ; 
    background-color: lightgray;
    border-radius: 100px ;
}

#groupPhoto {
    background-color: lightgray;
    margin-left: auto ; 
    margin-right: auto ; 
    width: 864px ; 
    height: 542px ; 
    border-radius: 10px ;
    margin-top: 20px ; 
    margin-bottom: 50px ; 
}

.name {
    font-weight: bold;
    margin-top: 12px ; 
}


